html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

div {
    border: 1px solid red;
}

@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
  }

#mainbox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

#pippo {
    width: 50%;
    height: 80%;
    background-image: url('images/pippo_partial.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#head {
    width: 100%;
    height: 100%;
    background-image: url('images/tete.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#plates {
    width: 100%;
    height: 100%;
    background-image: url('images/plats.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#punchline_01 {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 15%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 2rem;
    background-color: #eccb78;
}

#punchline_02 {
    position: absolute;
    top: 10%;
    left: 80%;
    width: 15%;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 2rem;
    background-color: #eccb78;
}

#slogan_01 {
    color: #DB4213;
    font-size: 2rem;
    font-weight: bold;
}

#slogan_02 {
    color: #DB4213;
    font-size: 2rem;
    font-weight: bold;
}

.headmove {
    animation-name: headmove;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.platemove {
    animation-name: platemove;
    animation-duration: 300ms;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.swing {
    animation-name: swing;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-fill-mode: both;
    transform-origin: top center;
}

@keyframes headmove {
    0%   {transform: rotate(0deg);}
    25%  {transform: rotate(5deg);}
    50%  {transform: rotate(0deg);}
    75%  {transform: rotate(-5deg);}
    100% {transform: rotate(0deg);}
}

@keyframes platemove {
    0%   {transform: rotate(0deg);}
    50%  {transform: rotate(2deg);}
    100% {transform: rotate(0deg);}
}

@keyframes swing {
    20% {transform: rotate3d(0, 0, 1, 15deg);}
    40% {transform: rotate3d(0, 0, 1, -10deg);}
    60% {transform: rotate3d(0, 0, 1, 5deg);}
    80% {transform: rotate3d(0, 0, 1, -5deg);}
    100% {transform: rotate3d(0, 0, 1, 0deg);}
}