body {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-image: url("images/ajoutpizza.jpg");
    justify-content: center;
    align-items: center;
    background-size: 100vw;
  }
  #cadrecommande {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50vw;
    height: 70vh;
    background-color: rgba(120, 139, 204, 0.685);
    margin-left: 9vw;
    margin-top:1vh;
    color: white;
  }
  .section{
      display: flex;
      justify-content: space-between;
      width: 20vw;
  }
  #validatecommande{
      border-radius: 5vw;
      width:10vw;
      height: 4vh;
      color:green;
      background-color:rgb(9, 255, 9);
      cursor: pointer;
  }
  